{% extends "base.html" %}

{% block title %}
Admin Dashboard
{% endblock %}

{% block content %}

<section class="section">

    <div class="container">

        <h2 class="section-title text-center">

            👨‍💼 Admin Dashboard

        </h2>

        <div class="row mt-5">

            <div class="col-lg-4">

                <div class="card p-4 text-center">

                    <h3>{{ total_restaurants }}</h3>

                    <p>Restaurants</p>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="card p-4 text-center">

                    <h3>{{ total_foods }}</h3>

                    <p>Food Items</p>

                </div>

            </div>

            <div class="col-lg-4">

                <div class="card p-4 text-center">

                    <h3>{{ total_orders }}</h3>

                    <p>Orders</p>

                </div>

            </div>

        </div>

    </div>

</section>

{% endblock %}